/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
}

.class {
  padding: 20px;
  border: 1px solid red;
}

body {
  padding: 0px 0px 100px 0px;
}
