<div class="class">
  <h2 *ngIf="nameAnimalchild">Animais: {{nameAnimalchild}}</h2>
  <button (click)="addAnimal()">Add animal</button>
  <ul *ngFor="let animal of animals">
    <li>
      <a routerLink="/list/{{ animal.id }}">{{ animal.name }}</a>
      <button (click)="showAge()">Show age</button>
      <button (click)="removeAnimal(animal)">remove animal</button>
        <!-- tes de input e output -->
  <app-test [nameInput]="animal.name" (nameOutput)="showEventName($event)" />
    </li>
  </ul>
</div>
